
#wb_header { height: 161px; }
#wb_header > .wb_cont_bg { background: transparent none repeat scroll left top; }
#wb_main { height: 1070px; }
#wb_main > .wb_cont_bg { background: #ffffff none repeat left top; background-size: auto auto; }
#wb_footer { height: 70px; }
#wb_footer > .wb_cont_bg { background: transparent none repeat-x scroll left top; }
body { background: #00bcd1 none repeat-x scroll center top; }
.wb_sbg { background: transparent url("../gallery_gen/f59afb5d90e762180cea7c469422f9cf.jpg") repeat-x scroll center top; }
body, .wb_sbg { min-width: 1200px; min-height: 1301px; }
.wb_cont_inner { width: 1200px; }
.wb_cont_bg { width: 1200px; margin-left: -600px; }
.root { height: 1301px; overflow: visible; min-height: 1301px; }
#wb_element_instance0 { top: 40px; left: 580px; min-width: 610px; width: 610px; min-height: 76px; height: 76px; display: block; z-index: 459; }
#wb_element_instance0 ul { background: transparent none repeat-x scroll center top; border: 0px none #000000; }
#wb_element_instance0, #wb_element_instance0 ul { text-align: right; }
#wb_element_instance0 ul ul { background: transparent none repeat-x scroll left top; }
#wb_element_instance0 li { margin: 0px 0px 0px 0px; }
#wb_element_instance0 li a { text-transform: none; border: 0px none #000000; padding: 30px 30px 30px 30px; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #000000; line-height: 16px; background: transparent none no-repeat scroll right center; }
#wb_element_instance0 li.over > a, #wb_element_instance0 li:focus > a { border: 0px none #000000; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #ffffff; line-height: 16px; background: #20a2ab none repeat-x scroll left center; }
#wb_element_instance0 li.active > a { border: 0px none #000000; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #ffffff; line-height: 16px; background: #4ab1ba none repeat-x scroll left center; }
#wb_element_instance0:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance0:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance0:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance1 { top: 60px; left: 130px; min-width: 420px; width: 420px; min-height: 36px; height: 36px; display: block; z-index: 256; }
#wb_element_instance2 { top: 30px; left: 0px; min-width: 109px; width: 109px; min-height: 102px; height: 102px; display: block; z-index: 257; }
#wb_element_instance2 img { width: 109px; height: 102px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance3 { top: 0px; left: 0px; min-width: 1200px; width: 1200px; min-height: 30px; height: 30px; display: block; z-index: 193; }
#wb_element_instance3 > .wb_shp { background: transparent none repeat scroll left top; background-size: auto auto; border: 0px solid #C0C0C0; opacity: 0.95; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 1200px; height: 30px; }
#wb_element_instance4 { top: 30px; left: 20px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; z-index: 252; }
#wb_element_instance5 { top: 20px; left: 1150px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; z-index: 253; }
#wb_element_instance5 img { width: 32px; height: 32px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance6 { top: 20px; left: 1100px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; z-index: 254; }
#wb_element_instance6 img { width: 32px; height: 32px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance7 { top: 40px; left: 0px; min-width: 1200px; width: 1200px; min-height: 35px; height: 35px; display: block; z-index: 172; }
#wb_element_instance8 { top: 880px; left: 110px; min-width: 300px; width: 300px; min-height: 36px; height: 36px; display: block; z-index: 152; }
#wb_element_instance9 { top: 930px; left: 110px; min-width: 250px; width: 250px; min-height: 96px; height: 96px; display: block; z-index: 153; }
#wb_element_instance10 { top: 880px; left: 530px; min-width: 280px; width: 280px; min-height: 36px; height: 36px; display: block; z-index: 154; }
#wb_element_instance11 { top: 880px; left: 960px; min-width: 240px; width: 240px; min-height: 36px; height: 36px; display: block; z-index: 155; }
#wb_element_instance12 { top: 930px; left: 530px; min-width: 260px; width: 260px; min-height: 96px; height: 96px; display: block; z-index: 156; }
#wb_element_instance13 { top: 930px; left: 960px; min-width: 202px; width: 202px; min-height: 96px; height: 96px; display: block; z-index: 157; }
#wb_element_instance14 { top: 890px; left: 20px; min-width: 62px; width: 62px; min-height: 107px; height: 107px; display: block; z-index: 158; }
#wb_element_instance14 img { width: 62px; height: 107px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance15 { top: 890px; left: 430px; min-width: 62px; width: 62px; min-height: 124px; height: 124px; display: block; z-index: 159; }
#wb_element_instance15 img { width: 62px; height: 124px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance16 { top: 900px; left: 850px; min-width: 85px; width: 85px; min-height: 83px; height: 83px; display: block; z-index: 160; }
#wb_element_instance16 img { width: 85px; height: 83px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance17 { top: 779px; left: 61px; min-width: 64px; width: 64px; min-height: 36px; height: 36px; display: block; z-index: 162; }
#wb_element_instance18 { top: 770px; left: 940px; min-width: 64px; width: 64px; min-height: 36px; height: 36px; display: block; z-index: 163; }
#wb_element_instance19 { top: 780px; left: 650px; min-width: 64px; width: 64px; min-height: 36px; height: 36px; display: block; z-index: 164; }
#wb_element_instance20 { top: 770px; left: 430px; min-width: 170px; width: 170px; min-height: 36px; height: 36px; display: block; z-index: 166; }
#wb_element_instance21 { top: 770px; left: 1020px; min-width: 110px; width: 110px; min-height: 36px; height: 36px; display: block; z-index: 169; }
#wb_element_instance22 { top: 80px; left: 80px; min-width: 1063px; width: 1063px; min-height: 650px; height: 650px; display: block; z-index: 145; }
#wb_element_instance22 img { width: 1063px; height: 650px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance23 { top: 770px; left: 50px; min-width: 60px; width: 60px; min-height: 60px; height: 60px; display: block; z-index: 148; }
#wb_element_instance23 > .wb_shp { background: #92e643 none repeat scroll left top; background-size: auto auto; border: 3px solid #ffffff; opacity: 0.95; border-radius: 200px 200px 200px 200px; -moz-border-radius: 200px 200px 200px 200px; -webkit-border-radius: 200px 200px 200px 200px; width: 60px; height: 60px; }
#wb_element_instance24 { top: 770px; left: 350px; min-width: 60px; width: 60px; min-height: 60px; height: 60px; display: block; z-index: 150; }
#wb_element_instance24 > .wb_shp { background: #92e643 none repeat scroll left top; background-size: auto auto; border: 3px solid #ffffff; opacity: 0.95; border-radius: 200px 200px 200px 200px; -moz-border-radius: 200px 200px 200px 200px; -webkit-border-radius: 200px 200px 200px 200px; width: 60px; height: 60px; }
#wb_element_instance25 { top: 770px; left: 130px; min-width: 160px; width: 160px; min-height: 36px; height: 36px; display: block; z-index: 170; }
#wb_element_instance26 { top: 760px; left: 930px; min-width: 60px; width: 60px; min-height: 60px; height: 60px; display: block; z-index: 151; }
#wb_element_instance26 > .wb_shp { background: #92e643 none repeat scroll left top; background-size: auto auto; border: 3px solid #ffffff; opacity: 0.95; border-radius: 200px 200px 200px 200px; -moz-border-radius: 200px 200px 200px 200px; -webkit-border-radius: 200px 200px 200px 200px; width: 60px; height: 60px; }
#wb_element_instance27 { top: 840px; left: 0px; min-width: 1200px; width: 1200px; min-height: 230px; height: 230px; display: block; z-index: 147; }
#wb_element_instance27 > .wb_shp { background: #00b3c7 none repeat scroll left top; background-size: auto auto; border: 5px none #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 1200px; height: 230px; }
#wb_element_instance28 { top: 766px; left: 638px; min-width: 60px; width: 60px; min-height: 60px; height: 60px; display: block; z-index: 161; }
#wb_element_instance28 > .wb_shp { background: #92e643 none repeat scroll left top; background-size: auto auto; border: 3px solid #ffffff; opacity: 0.95; border-radius: 200px 200px 200px 200px; -moz-border-radius: 200px 200px 200px 200px; -webkit-border-radius: 200px 200px 200px 200px; width: 60px; height: 60px; }
#wb_element_instance29 { top: 780px; left: 360px; min-width: 64px; width: 64px; min-height: 36px; height: 36px; display: block; z-index: 165; }
#wb_element_instance30 { top: 770px; left: 720px; min-width: 170px; width: 170px; min-height: 36px; height: 36px; display: block; z-index: 168; }
#wb_element_instance31 { top: 1090px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance32 { top: 74px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance1 p:last-child { margin-bottom: 0; }
#wb_element_instance4 p:last-child { margin-bottom: 0; }
#wb_element_instance7 p:last-child { margin-bottom: 0; }
#wb_element_instance8 p:last-child { margin-bottom: 0; }
#wb_element_instance9 p:last-child { margin-bottom: 0; }
#wb_element_instance10 p:last-child { margin-bottom: 0; }
#wb_element_instance11 p:last-child { margin-bottom: 0; }
#wb_element_instance12 p:last-child { margin-bottom: 0; }
#wb_element_instance13 p:last-child { margin-bottom: 0; }
#wb_element_instance17 p:last-child { margin-bottom: 0; }
#wb_element_instance18 p:last-child { margin-bottom: 0; }
#wb_element_instance19 p:last-child { margin-bottom: 0; }
#wb_element_instance20 p:last-child { margin-bottom: 0; }
#wb_element_instance21 p:last-child { margin-bottom: 0; }
#wb_element_instance25 p:last-child { margin-bottom: 0; }
#wb_element_instance29 p:last-child { margin-bottom: 0; }
#wb_element_instance30 p:last-child { margin-bottom: 0; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}
