
#wb_header { height: 160px; }
#wb_header > .wb_cont_bg { background: transparent none repeat scroll left top; }
#wb_main { height: 1160px; }
#wb_main > .wb_cont_bg { background: transparent none repeat-x scroll left top; }
#wb_footer { height: 70px; }
#wb_footer > .wb_cont_bg { background: #00b3c7 none repeat scroll left top; }
body { background: transparent url("../gallery_gen/74079e8b3172bb3311222ea338953294.jpg") repeat-x scroll center top; }
.wb_sbg { background: transparent url("../gallery_gen/49b9fb3ed32eb2203e3b39c71e63fa9d.jpg") repeat-x scroll center top; }
body, .wb_sbg { min-width: 1200px; min-height: 1390px; }
.wb_cont_inner { width: 1200px; }
.wb_cont_bg { width: 1200px; margin-left: -600px; }
.root { height: 1390px; overflow: visible; min-height: 1390px; }
#wb_element_instance33 { top: 40px; left: 580px; min-width: 610px; width: 610px; min-height: 76px; height: 76px; display: block; z-index: 459; }
#wb_element_instance33 ul { background: transparent none repeat-x scroll center top; border: 0px none #000000; }
#wb_element_instance33, #wb_element_instance33 ul { text-align: right; }
#wb_element_instance33 ul ul { background: transparent none repeat-x scroll left top; }
#wb_element_instance33 li { margin: 0px 0px 0px 0px; }
#wb_element_instance33 li a { text-transform: none; border: 0px none #000000; padding: 30px 30px 30px 30px; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #000000; line-height: 16px; background: transparent none no-repeat scroll right center; }
#wb_element_instance33 li.over > a, #wb_element_instance33 li:focus > a { border: 0px none #000000; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #ffffff; line-height: 16px; background: #20a2ab none repeat-x scroll left center; }
#wb_element_instance33 li.active > a { border: 0px none #000000; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #ffffff; line-height: 16px; background: #4ab1ba none repeat-x scroll left center; }
#wb_element_instance33:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance33:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance33:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance34 { top: 60px; left: 130px; min-width: 420px; width: 420px; min-height: 36px; height: 36px; display: block; z-index: 256; }
#wb_element_instance35 { top: 30px; left: 0px; min-width: 109px; width: 109px; min-height: 102px; height: 102px; display: block; z-index: 257; }
#wb_element_instance35 img { width: 109px; height: 102px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance36 { top: 0px; left: 0px; min-width: 1200px; width: 1200px; min-height: 30px; height: 30px; display: block; z-index: 193; }
#wb_element_instance36 > .wb_shp { background: transparent none repeat scroll left top; background-size: auto auto; border: 0px solid #C0C0C0; opacity: 0.95; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 1200px; height: 30px; }
#wb_element_instance37 { top: 30px; left: 20px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; z-index: 252; }
#wb_element_instance38 { top: 20px; left: 1150px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; z-index: 253; }
#wb_element_instance38 img { width: 32px; height: 32px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance39 { top: 20px; left: 1100px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; z-index: 254; }
#wb_element_instance39 img { width: 32px; height: 32px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance40 { top: 205px; left: 20px; min-width: 320px; width: 320px; min-height: 36px; height: 36px; display: block; z-index: 169; }
#wb_element_instance41 { top: 290px; left: 20px; min-width: 300px; width: 300px; min-height: 188px; height: 188px; display: block; z-index: 70; }
#wb_element_instance41 img { width: 300px; height: 188px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance42 { top: 290px; left: 350px; min-width: 830px; width: 830px; min-height: 154px; height: 154px; display: block; z-index: 71; }
#wb_element_instance43 { top: 710px; left: 20px; min-width: 1150px; width: 1150px; min-height: 198px; height: 198px; display: block; z-index: 104; }
#wb_element_instance44 { top: 960px; left: 100px; min-width: 200px; width: 200px; min-height: 36px; height: 36px; display: block; z-index: 105; }
#wb_element_instance45 { top: 970px; left: 20px; min-width: 62px; width: 62px; min-height: 107px; height: 107px; display: block; z-index: 107; }
#wb_element_instance45 img { width: 62px; height: 107px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance46 { top: 970px; left: 410px; min-width: 62px; width: 62px; min-height: 124px; height: 124px; display: block; z-index: 108; }
#wb_element_instance46 img { width: 62px; height: 124px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance47 { top: 970px; left: 800px; min-width: 85px; width: 85px; min-height: 83px; height: 83px; display: block; z-index: 109; }
#wb_element_instance47 img { width: 85px; height: 83px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance48 { top: 1010px; left: 100px; min-width: 250px; width: 250px; min-height: 96px; height: 96px; display: block; z-index: 110; }
#wb_element_instance49 { top: 960px; left: 495px; min-width: 230px; width: 230px; min-height: 36px; height: 36px; display: block; z-index: 111; }
#wb_element_instance50 { top: 960px; left: 910px; min-width: 210px; width: 210px; min-height: 36px; height: 36px; display: block; z-index: 112; }
#wb_element_instance51 { top: 1010px; left: 495px; min-width: 240px; width: 240px; min-height: 96px; height: 96px; display: block; z-index: 113; }
#wb_element_instance52 { top: 1010px; left: 910px; min-width: 250px; width: 250px; min-height: 120px; height: 120px; display: block; z-index: 114; }
#wb_element_instance53 { top: 940px; left: 0px; min-width: 1200px; width: 1200px; min-height: 220px; height: 220px; display: block; z-index: 69; }
#wb_element_instance53 > .wb_shp { background: #00b3c7 none repeat scroll left top; background-size: auto auto; border: 5px none #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 1200px; height: 220px; }
#wb_element_instance54 { top: 670px; left: 20px; min-width: 1150px; width: 1150px; min-height: 26px; height: 26px; display: block; z-index: 115; }
#wb_element_instance55 { top: 500px; left: 20px; min-width: 1150px; width: 1150px; min-height: 132px; height: 132px; display: block; z-index: 116; }
#wb_element_instance56 { top: 189px; left: 0px; min-width: 350px; width: 350px; min-height: 70px; height: 70px; display: block; z-index: 117; }
#wb_element_instance56 > .wb_shp { background: #00b3c7 none repeat scroll left top; background-size: auto auto; border: 5px none #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 350px; height: 70px; }
#wb_element_instance57 { top: 260px; left: 0px; min-width: 1200px; width: 1200px; min-height: 670px; height: 670px; display: block; z-index: 68; }
#wb_element_instance57 > .wb_shp { background: #ffffff none repeat scroll left top; background-size: auto auto; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 1200px; height: 670px; }
#wb_element_instance58 { top: 1180px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance59 { top: 74px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance34 p:last-child { margin-bottom: 0; }
#wb_element_instance37 p:last-child { margin-bottom: 0; }
#wb_element_instance40 p:last-child { margin-bottom: 0; }
#wb_element_instance42 p:last-child { margin-bottom: 0; }
#wb_element_instance43 p:last-child { margin-bottom: 0; }
#wb_element_instance44 p:last-child { margin-bottom: 0; }
#wb_element_instance48 p:last-child { margin-bottom: 0; }
#wb_element_instance49 p:last-child { margin-bottom: 0; }
#wb_element_instance50 p:last-child { margin-bottom: 0; }
#wb_element_instance51 p:last-child { margin-bottom: 0; }
#wb_element_instance52 p:last-child { margin-bottom: 0; }
#wb_element_instance54 p:last-child { margin-bottom: 0; }
#wb_element_instance55 p:last-child { margin-bottom: 0; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}
